* {
    margin: 0;
    padding: 0;
}

.container{
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    
    background-color:#9898d5;
    color: #fff;
    border:none; 
    border-radius:10px; 
    padding:15px;
    min-height:30px; 
    min-width: 120px;
}

button:hover {
    background-color:#9846cf;
    transition: 0.7s;
}

.res{
    margin-top: 5%;
}

.res-box{
    border: solid;
    margin-top: 10%;
    padding: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#food{
    font-size: 48px;
}

input[type="text"] {
    margin-top: 5px;
    height: 28px;
    width: 300px;
}

input[type="submit"] {
    background-color:#9898d5;
    color: #fff;
    border:none; 
    border-radius:8px; 
    padding:3px;
    min-height:28px; 
    min-width: 60px;
}

.funcs{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 150px;
}

.funcs p{
    font-weight: bold;
    font-size: large;
}